.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.imageBlock {
    max-width: 250px;
    height: 100%;
}

.formImg{
    height: 100%;
}

.formBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}