.animeCard{
    margin-right: 20px;
    font-family: 'Arial';
    width: 160px;

    display: block;
    text-decoration: none;
}

.animeImg{
    width: 100%;
}


.animeName{
    font-size: 14px;
    color: #176093;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.animeInfo{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: black;
}

.complete{
    position: relative;
}

.complete::before{
    position: absolute;
    content: '';
    text-align: center;
    color: white;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #419541;
    border: 2px solid white;
}

.whatch{
    position: relative;
}

.whatch::before{
    position: absolute;
    content: '';
    text-align: center;
    color: white;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #176093;
    border: 2px solid white;
}

